@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<h3>propozycja poruszania sie po stronie - klikalne divy ponizej</h3>

<div class="bg-white rounded-lg shadow-md p-6 mb-8">
    <h2 class="text-xl font-semibold text-gray-900 mb-4">Co chcesz zrobic?</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">Kalkulator kalorii</h3>
            <p class="text-xl font-bold text-blue-600">text</p>
        </div>
                
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">Pomiary</h3>
            <p class="text-xl font-bold text-green-600">text</p>
        </div>
                
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">Przepisy</h3>
            <p class="text-xl font-bold text-yellow-600">text</p>
        </div>
                
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">Wybor Menu</h3>
            <p class="text-xl font-bold text-red-600">text</p>
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">Wyloguj</h3>
            <p class="text-xl font-bold text-red-600">text</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md border border-gray-200">
            <h3 class="text-lg font-semibold text-gray-900 mb-2">6 opcja</h3>
            <p class="text-xl font-bold text-red-600">text</p>
        </div>
    </div>
</div>
