@* Main Layout Component
   Features:
   - Top navbar layout
   - Full-width content area
   - Responsive design
*@
@inherits LayoutComponentBase

@* Required for MudBlazor components *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="min-h-screen flex flex-col bg-gray-600">
    @* Top Navigation Bar *@
    <NavBar />

    @* Main Content Area *@
    <main class="flex-1">
        @Body
    </main>
</div>
